## Observations and Insights

In [1]:
# Dependencies and Setup
import os
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "/Users/kellenquinn/Desktop/Matplotlib-Challenge/Matplotlib-Challenge/Pymaceuticals/Resoures/Mouse_metadata.csv"
study_results_path = "/Users/kellenquinn/Desktop/Matplotlib-Challenge/Matplotlib-Challenge/Pymaceuticals/Resoures/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
Mouse_Study_Merge=pd.merge(mouse_metadata, study_results, how="right", on="Mouse ID")
# Display the data table for preview
Mouse_Study_Merge.head(60)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,b128,Capomulin,Female,9,22,0,45.000000,0
1,b128,Capomulin,Female,9,22,5,45.651331,0
2,b128,Capomulin,Female,9,22,10,43.270852,0
3,b128,Capomulin,Female,9,22,15,43.784893,0
4,b128,Capomulin,Female,9,22,20,42.731552,0
5,b128,Capomulin,Female,9,22,25,43.262145,1
6,b128,Capomulin,Female,9,22,30,40.605335,1
7,b128,Capomulin,Female,9,22,35,37.967644,1
8,b128,Capomulin,Female,9,22,40,38.379726,2
9,b128,Capomulin,Female,9,22,45,38.982878,2
10,f932,Ketapril,Male,15,29,0,45.000000,0
11,g107,Ketapril,Female,2,29,0,45.000000,0
12,g107,Ketapril,Female,2,29,5,48.791665,0
13,g107,Ketapril,Female,2,29,10,53.435987,0
14,g107,Ketapril,Female,2,29,15,58.135545,0
15,g107,Ketapril,Female,2,29,20,62.706031,0
16,g107,Ketapril,Female,2,29,25,64.663626,0
17,g107,Ketapril,Female,2,29,30,69.160520,0
18,g107,Ketapril,Female,2,29,35,71.905117,0
19,a457,Ketapril,Female,11,30,0,45.000000,0
20,a457,Ketapril,Female,11,30,5,47.462891,0
21,a457,Ketapril,Female,11,30,10,49.783419,0
22,c819,Ketapril,Male,21,25,0,45.000000,0
23,c819,Ketapril,Male,21,25,5,45.769249,1
24,c819,Ketapril,Male,21,25,10,46.658395,1
25,c819,Ketapril,Male,21,25,15,48.370999,1
26,c819,Ketapril,Male,21,25,20,49.762415,1
27,c819,Ketapril,Male,21,25,25,51.828357,1
28,c819,Ketapril,Male,21,25,30,56.098998,1
29,c819,Ketapril,Male,21,25,35,57.729535,1
30,c819,Ketapril,Male,21,25,40,62.175705,1
31,h246,Ketapril,Male,13,30,0,45.000000,0
32,h246,Ketapril,Male,13,30,5,49.470417,0
33,h246,Ketapril,Male,13,30,10,51.368862,1
34,h246,Ketapril,Male,13,30,15,56.184327,1
35,h246,Ketapril,Male,13,30,20,57.935912,1
36,h246,Ketapril,Male,13,30,25,59.548854,1
37,h246,Ketapril,Male,13,30,30,63.599610,1
38,h246,Ketapril,Male,13,30,35,67.211270,2
39,h246,Ketapril,Male,13,30,40,71.150835,2
40,h246,Ketapril,Male,13,30,45,74.104086,2
41,p189,Ketapril,Male,8,28,0,45.000000,0
42,p189,Ketapril,Male,8,28,5,49.048707,1
43,p189,Ketapril,Male,8,28,10,51.582162,2
44,p189,Ketapril,Male,8,28,15,53.675542,2
45,p189,Ketapril,Male,8,28,20,56.530204,3
46,p189,Ketapril,Male,8,28,25,62.108960,3
47,p189,Ketapril,Male,8,28,30,67.104537,4
48,p189,Ketapril,Male,8,28,35,67.873777,4
49,p189,Ketapril,Male,8,28,40,74.106091,4
50,p189,Ketapril,Male,8,28,45,75.294936,4
51,n923,Ketapril,Male,19,30,0,45.000000,0
52,n923,Ketapril,Male,19,30,5,45.824881,0
53,n923,Ketapril,Male,19,30,10,48.791950,1
54,n923,Ketapril,Male,19,30,15,51.738706,1
55,n923,Ketapril,Male,19,30,20,52.599206,1
56,n923,Ketapril,Male,19,30,25,56.855465,2
57,n923,Ketapril,Male,19,30,30,59.632561,3
58,n923,Ketapril,Male,19,30,35,60.356294,3
59,n923,Ketapril,Male,19,30,40,66.229606,3

In [2]:
# Checking the number of mice.
No_of_Mice = len(pd.unique(Mouse_Study_Merge['Mouse ID']))
print("Number of Mice:", No_of_Mice)

Number of Mice: 249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
Duplicate_Mice=Mouse_Study_Merge.groupby(["Mouse ID","Timepoint"]).size()
Duplicates=Duplicate_Mice>1
#Duplicate_Mice.head(100)
Duplicates.loc[Duplicates]

Mouse ID  Timepoint
g989      0            True
          5            True
          10           True
          15           True
          20           True
dtype: bool

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
#g989=Mouse_Study_Merge=="Mouse ID"=g989
g989=Mouse_Study_Merge["Mouse ID"]=="g989"
Mouse_Study_Merge[g989]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
860,g989,Propriva,Female,21,26,0,45.000000,0
861,g989,Propriva,Female,21,26,0,45.000000,0
862,g989,Propriva,Female,21,26,5,48.786801,0
863,g989,Propriva,Female,21,26,5,47.570392,0
864,g989,Propriva,Female,21,26,10,51.745156,0
865,g989,Propriva,Female,21,26,10,49.880528,0
866,g989,Propriva,Female,21,26,15,51.325852,1
867,g989,Propriva,Female,21,26,15,53.442020,0
868,g989,Propriva,Female,21,26,20,55.326122,1
869,g989,Propriva,Female,21,26,20,54.657650,1
870,g989,Propriva,Female,21,26,25,56.045564,1
871,g989,Propriva,Female,21,26,30,59.082294,1
872,g989,Propriva,Female,21,26,35,62.570880,2

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
Clean_Mouse=Mouse_Study_Merge[~g989]
Clean_Mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,b128,Capomulin,Female,9,22,0,45.000000,0
1,b128,Capomulin,Female,9,22,5,45.651331,0
2,b128,Capomulin,Female,9,22,10,43.270852,0
3,b128,Capomulin,Female,9,22,15,43.784893,0
4,b128,Capomulin,Female,9,22,20,42.731552,0
...,...,...,...,...,...,...,...,...
1888,m601,Capomulin,Male,22,17,25,33.118756,1
1889,m601,Capomulin,Male,22,17,30,31.758275,1
1890,m601,Capomulin,Male,22,17,35,30.834357,1
1891,m601,Capomulin,Male,22,17,40,31.378045,1
1892,m601,Capomulin,Male,22,17,45,28.430964,1

In [6]:
# Checking the number of mice in the clean DataFrame.
No_of_Mice_Clean= len(pd.unique(Clean_Mouse['Mouse ID']))
print("Number of Mice:", No_of_Mice_Clean)

Number of Mice: 248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
Regimen_Mean=Clean_Mouse.groupby(["Drug Regimen"]).mean()["Tumor Volume (mm3)"]
Regimen_Mean.map("{:.2f}".format)

Drug Regimen
Capomulin    40.68
Ceftamin     52.59
Infubinol    52.88
Ketapril     55.24
Naftisol     54.33
Placebo      54.03
Propriva     52.32
Ramicane     40.22
Stelasyn     54.23
Zoniferol    53.24
Name: Tumor Volume (mm3), dtype: object

In [9]:
Regimen_variance=Clean_Mouse.groupby(["Drug Regimen"]).var()["Tumor Volume (mm3)"]
Regimen_variance.map("{:.2f}".format)

Drug Regimen
Capomulin    24.95
Ceftamin     39.29
Infubinol    43.13
Ketapril     68.55
Naftisol     66.17
Placebo      61.17
Propriva     43.85
Ramicane     23.49
Stelasyn     59.45
Zoniferol    48.53
Name: Tumor Volume (mm3), dtype: object

In [10]:
Regimen_median=Clean_Mouse.groupby(["Drug Regimen"]).median()["Tumor Volume (mm3)"]
Regimen_median.map("{:.2f}".format)

Drug Regimen
Capomulin    41.56
Ceftamin     51.78
Infubinol    51.82
Ketapril     53.70
Naftisol     52.51
Placebo      52.29
Propriva     50.45
Ramicane     40.67
Stelasyn     52.43
Zoniferol    51.82
Name: Tumor Volume (mm3), dtype: object

In [11]:
Regimen_std=Clean_Mouse.groupby(["Drug Regimen"]).std()["Tumor Volume (mm3)"]
Regimen_std.map("{:.2f}".format)

Drug Regimen
Capomulin    4.99
Ceftamin     6.27
Infubinol    6.57
Ketapril     8.28
Naftisol     8.13
Placebo      7.82
Propriva     6.62
Ramicane     4.85
Stelasyn     7.71
Zoniferol    6.97
Name: Tumor Volume (mm3), dtype: object

In [12]:
Regimen_SEM=Clean_Mouse.groupby(["Drug Regimen"]).sem()["Tumor Volume (mm3)"]
Regimen_SEM.map("{:.2f}".format)

Drug Regimen
Capomulin    0.33
Ceftamin     0.47
Infubinol    0.49
Ketapril     0.60
Naftisol     0.60
Placebo      0.58
Propriva     0.54
Ramicane     0.32
Stelasyn     0.57
Zoniferol    0.52
Name: Tumor Volume (mm3), dtype: object

In [70]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
Regimen_Overview=pd.DataFrame({'Drug Regimen': [by_drug], 'Mean': [Regimen_Mean],'Median': [Regimen_median],'Variance':[Regimen_variance], 'Standard Deviation': [Regimen_std], 'SEM': [Regimen_SEM]})
Regimen_Overview.set_index('Drug Regimen')
df.head(60)
# Using the aggregation method, produce the same summary statistics in a single line

,Drug Regimen,Mean,Median,Variance,Standard Deviation,SEM
0,"[Capomulin, Ketapril, Naftisol, Infubinol, Ste...",Drug Regimen Capomulin 40.675741 Ceftamin ...,Drug Regimen Capomulin 41.557809 Ceftamin ...,Drug Regimen Capomulin 24.947764 Ceftamin ...,Drug Regimen Capomulin 4.994774 Ceftamin ...,Drug Regimen Capomulin 0.329346 Ceftamin ...

## Bar and Pie Charts

In [75]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.
Measurements_per_regimen=

SyntaxError: invalid syntax (<ipython-input-75-cc6b1540d489>, line 2)

In [15]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [16]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [17]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [18]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [19]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [20]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [21]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [22]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [23]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen